body {
  margin: 0;
  font-family: "Minecraft";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Minecraft";   /*Can be any text*/
  src: local("Minecraft"),
    url("./fonts/Minecraft.ttf") format("truetype");
}